<launch>
	<!-- launch all connected sensors -->
  	<include file="$(find launchfiles)/files/laser_ust10lx.launch" />
  	<include file="$(find launchfiles)/files/kinect.launch" />
  	<include file="$(find launchfiles)/files/laser_lzru901.launch" />

	<!-- launch robot node -->
  	<!--<include file="$(find robotino_node)/launch/robotino_simple_node.launch" />-->
  	<include file="$(find launchfiles)/files/robotino_node.launch" />
</launch>
