<launch>
	<!-- launch laser sensors -->
  	<include file="$(find launchfiles)/launch/laser_ust10lx.launch" />
  	<include file="$(find launchfiles)/launch/laser_lzru901.launch" />

	<!-- launch robot node -->
  	<!--<include file="$(find robotino_node)/launch/robotino_simple_node.launch" />-->
  	<include file="$(find launchfiles)/launch/robotino_node.launch" />
</launch>
