<launch>
	<!-- launch laser sensors -->
  	<include file="$(find launchfiles)/launch/laser_ust10lx.launch" />
  	<include file="$(find launchfiles)/launch/laser_lzru901.launch" />
	<!--<include file="$(find launchfiles)/launch/laser_urg04lx.launch" />-->

	<!-- launch robot node -->
  	<include file="$(find launchfiles)/launch/robotino_node.launch" />
</launch>
